<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employees Page</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/adminEmployees.css">
</head>
<body class="bg-cover">
    
  <%- include("partials/navbar.ejs") %>

    <div class="container">
        <div class="card shadow my-5">
          <h4 class="card-header">Table</h4>
          <div class="card-body">
            <table class="table table-striped table-bordered table-hover table-responsive">
              <thead>
                <tr>
                    <th>employee ID</th>
                    <th>employee Name</th>
                    <th>Products sold</th>
                    <th>profit earned</th>
                </tr>
              </thead>
              <tbody>
                <% for(var i=0; i<dataEmp.length; i++) {%>
                    <tr>
                        <td><%= dataEmp[i]._id %></td>
                        <td><%= dataEmp[i].employeeName %></td>
                        <td>
                            <% for(var j=0 ;j<dataPro.length*Math.random() ;j++){ %>
                                <li><%= dataPro[Math.floor(dataPro.length*Math.random())].productName %></li>
                            <% } %>
            
                        </td>
                        <td><%= dataEmp[i].employeeName.length*1000*Math.random() %></td>
                    </tr>
                    <% } %>
              </tbody>
            </table>
          </div>
          <div class="card-footer"></div>
        </div>
      </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <script src="/js/adminEmployees.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
</body>
</html>