<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admins</title>
    <link rel="stylesheet" href="/css/index.css" type="text/css">
    <link rel="stylesheet" href="/css/adminSale.css" type="text/css">
</head>
<body class="bg-cover">
  
  <%- include("partials/navbar.ejs") %>

<div class="container">
    <div class="card shadow my-5">
      <h4 class="card-header">Table</h4>
      <div class="card-body">
        <table class="table table-striped table-bordered table-hover table-responsive">
          <thead>
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Hash</th>
                <th>version</th>
            </tr>
          </thead>
          <tbody>
                <% for(var i=0; i< data.length ;i++){%>
                    <tr>
                    <td>
                        <%= data[i]._id %>
                    </td>
                    <td>
                        <%= data[i].username %>
                    </td>
                    <td>
                        <%= data[i].salt %>
                    </td>                    
                    <td>
                        <%= data[i].__v %>
                    </td>
                </tr>
                <%}%>
          </tbody>
        </table>
      </div>
      <div class="card-footer"></div>
    </div>
  </div>

    min profit
    max profit
    quickest sell
    <script src="/js/adminSale.js"></script>
</body>
</html>

